*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
	
/**************************************************************************************************************
skill 
***************************************************************************************************************/

.my_skills
{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid gray;
    box-shadow: 4px 4px 4px gray;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: black;
}

.skill_title
{
    text-align: center;
    font-size: 2rem;
    margin-top: 5px;
    color: #ff0047; 
}

.skill_box
{
  
  display: flex; 
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 25px;
  
}
#lang
{
    text-align: center;
    font-size: 25px;
    margin-top: 4px;
    
}
/*******************************************************/
.skill_box .skill_front
{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 49%;
   height: auto;
}

/********************************************************/
.skill_box .skill_back
{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;	
   width: 49%;
   height: auto;
}

 .subject {
    margin-bottom: 30px;
    position: relative;
    overflow-x:hidden;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
   
}
.subject > p {
    font-size: 18px;
    font-weight: 800;
    color: white;
    margin: 0;
}
.subject:before{
    width: 100%;
    height: 18px;
    border-radius: 10px;
    content: "";
    display: block;
    position: absolute;
    background: white;
    bottom: 0;
}
.skill-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 50px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}
.skill_bar {
    border-radius: 10px;
    width: 100%;
    height: 18px;
    background: #ff0047; 
    display: block;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
}

.skill_bar span{
    position: absolute;
    border-top: 5px solid #ff0047; 
    padding: 0;
    font-size: 18px;
    color: black;
    padding: 3px 0;
    padding-right: 10px;
    font-weight: 800;
}
.skill_bar {
    position: relative;
  
} 

/* SKILL 1 ( HTML ) */
.language1{
    width: 80%;
    animation: html 2s;
}
.language1 .subject1 {
    right: 0;
}

/* SKILL 2 ( CSS ) */
.language2{
    width: 85%;
    animation: css 2s;
}

.language2 .subject2 {
    right: 0;
}

/* SKILL 3  ( JavaScript ) */
.language3{
    width: 50%;
    animation: js 2s;
}
.language3 .subject3 {
    right: 0;
}

/* SKILL 4 ( Bootstrap ) */
.language4{
    width: 80%;
    animation: bootstrap 2s;
}

.language4 .subject4 {
    right: 0;
}

/* SKILL 5  ( NodeJs ) */
.language5{
  width: 55%;
  animation: nodejs 2s;
}

.language5 .subject5 {
  right: 0;
}

/* SKILL 6  ( PHP ) */
.language6{
    width: 78%;
    animation: php 2s;
}

.language6 .subject6 {
    right: 0;
}

/* SKILL 7 ( Java ) */
.language7{
    width: 55%;
    animation: java 2s;
}

.language7 .subject7 {
    right: 0;
}

/* SKILL 8 ( SQL ) */
.language8{
    width: 85%;
    animation: sql 2s;
}

.language8 .subject8 {
    right: 0;
}

/* SKILL 9 ( MySQL )*/
.language9{
    width: 83%;
    animation: mysql 2s;
}

.language9 .subject9 {
    right: 0;
}

/* SKILL 10  (MongoDB) */
.language10{
    width: 81%;
    animation: mongodb 2s;
}

.language10 .subject10 {
    right: 0;
}

@keyframes html{
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes css{ 
	0%{
		width: 0%;
	}

	100%{
		width: 85%;
	}
}

@keyframes javascript{ 
	0%{
		width: 0%;
	}

	100%{
		width: 45%;
	}
}

@keyframes bootstrap{ 
	0%{
		width: 0%;
	}

	100%{
		width: 75%;
	}
}
@keyframes php{
	0%{
		width: 0%;
	}

	100%{
		width: 78%;
	}
}
@keyframes nodejs{ 
	0%{
		width: 0%;
	}

	100%{
		width: 45%;
	}
}
@keyframes java{ 
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}
@keyframes sql{ 
	0%{
		width: 0%;
	}

	100%{
		width: 85%;
	}
}
@keyframes mysql{ 
	0%{
		width: 0%;
	}

	100%{
		width: 83%;
	}
}
@keyframes mongodb{
	0%{
		width: 0%;
	}

	100%{
		width: 81%;
	}
}
 
@media screen and (max-width: 768px)
{
  .skill_title
  {
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      margin-top: 10px;
  }
  .skill_box
  {
      width: 100%;
      flex-direction: column;
  }
  .skill_box .skill_front
  {
      width: 100%;
  }
  .skill_box .skill_back
  {
      width: 100%;
  }
} 
